*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 font-family: 'poppins' , sans-serif;
}
body{
    background-color: black;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background-color: yellowgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.navbar a {
    font-size: 16px;
    color: white;
    text-decoration: non;
    font-weight: 500;
    margin-right: 30px;

}
.navbar a ::after {
    content: ;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
}
.container{
    position: absolute;
    width: 75%;
    height: 550px;
    background-color: blue;
}